@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

body {
	height: auto;
	width: 100vw;
	color: #fff;
	background-color: #303030;
	overflow-x: hidden;
}

section {
	height: fit-content;
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
	padding: 4rem 0;
}

section:nth-of-type(even) {
	color: #000;
	background-color: #2988d6;
}

button {
	cursor: pointer;
	height: 2rem;
	width: 7rem;
	font-weight: 300;
	color: #fff;
	background-color: #2988d6;
	border: none;
	border-radius: 10px;
	transition: all 0.2s ease;
}

button:hover {
	border: 2px solid #fff;
	box-shadow: 0 0 0.25rem #000;
}

button:active {
	transform: scale(0.9);
}

img {
	border: 1px solid #2988d6;
	border-radius: 15px;
	box-shadow: 0 0 0.5rem #000;
}

figcaption {
	text-align: center;
	font-size: 0.7rem;
	font-weight: 200;
}

header {
	height: 4rem;
	width: 100%;
	overflow: hidden;
	position: fixed;
	top: 0;
	background-color: #202020;
	border-bottom: 1px solid #2988d6;
	box-shadow: 0 0 0.75rem #000;
	display: flex;
	justify-content: space-between;
}

header img {
	height: 100%;
	margin-left: 1rem;
	border: none;
	box-shadow: none;
}

header ul {
	list-style-type: none;
}

.links {
	height: 100%;
	width: 50%;
	margin-right: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.links a {
	color: #fff;
	font-weight: 200;
	text-decoration: none;
	transition: all 0.2s ease;
}

.links a:hover {
	color: #2988d6;
	font-weight: 400;
}

.hero {
	padding: 5rem 2rem;
	margin-top: 2rem;
	display: flex;
	justify-content: space-between;
}

.hero-text {
	width: 40%;
	margin: 1rem;
}

.hero-text p {
	margin: 0.5rem 0;
}

.hero img {
	height: 300px;
	width: auto;
}

.toolbox {
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}

.toolbox h2 {
	width: 100%;
	margin-bottom: 2rem;
}

.tool {
	width: 22%;
}

.tool img {
	height: 200px;
	width: 100%;
}

.tool p {
	font-size: 1.1rem;
}

blockquote {
	width: 50%;
	margin: 0 auto;
	font-weight: 200;
	font-style: italic;
}

.cta-container {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.cta-text {
	width: 40%;
}

.cta-container button {
	border: 2px solid #fff;
}

footer {
	padding: 2rem 0;
	text-align: center;
	font-weight: 200;
}
